@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: #FAFAFA;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
  height: 8px; /* Adjust height as needed */
  background-color: transparent; /* Transparent background */
}

::-webkit-scrollbar-thumb {
  background-color: #DA190D !important; /* Adjust thumb color and opacity */
}

::-webkit-scrollbar-thumb {
  background-color: #5D6470; /* Adjust thumb color and opacity */
  border-radius: 6px; /* Optional: Rounded corners */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::selection {
  color: white;
  background: #0a589c;
}

.spinner-border {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
    @apply px-6 md:px-24 max-w-screen-4xl mx-auto;
}

.prose :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: #FFF;
}